$icon-arrow: 51px 30px -51px -30px 44px 21px 133px 80px 'sprite.png';
$icon-inst: 0px 37px 0px -37px 43px 43px 133px 80px 'sprite.png';
$icon-phone: 104px 0px -104px 0px 29px 31px 133px 80px 'sprite.png';
$icon-vk: 51px 0px -51px 0px 53px 30px 133px 80px 'sprite.png';
$icon-youtube: 0px 0px 0px 0px 51px 37px 133px 80px 'sprite.png';
