.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-ic-facebook {
  width: 155.14px;
  height: 155.14px;
}
.icon-ic-instagram {
  width: 512px;
  height: 512px;
}
.icon-ic-phone {
  width: 512px;
  height: 512px;
}
.icon-ic-vk {
  width: 548.358px;
  height: 548.358px;
}
