<section class="s-hero">
    <div class="s-hero__picture">
        <img src="../../images/harvey.jpg" alt="" class="s-hero__background">
    </div>
    <div class="s-hero__container">
        <h1>hero</h1>
    </div>
</section>